### NAME: BÙI PHƯƠNG THẢO
### CLASS : DSEB 63
### ID: 11215341

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\KyThuat88\Downloads\bank-additional-full.csv", sep = ';')
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [57]:
#data.info()

In [3]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder, PowerTransformer, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [4]:
X = data.drop('y', axis = 1)

In [5]:
y = data['y']

In [8]:
# label = LabelEncoder()
# y = label.fit_transform(y)

In [6]:
col_trans = ColumnTransformer([('ordinal', OrdinalEncoder(),['month','day_of_week','education','housing','loan','default']),
                               ('one_hot',OneHotEncoder(),['marital','poutcome','contact','job']),
                               ('pt',PowerTransformer(),['duration']),
                               ('min_max',MinMaxScaler(),['duration'])])
pipeline = Pipeline([('column_transformer', col_trans),('classifier',RandomForestClassifier())])

In [9]:
#thiếu split data train data test

In [7]:
pipeline.fit(X, y)
y_pred = pipeline.predict(X)
accuracy = accuracy_score(y, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.9998300475866757